.window-container {
  width: 100%;
  height: 100vh;
  background-color: peachpuff;

  display: flex;
  justify-content: center;
}

.page-container {
  width: 100%;
  height: 100vh;
  /* background-color: red; */
}
